/**
 * 藍色系的佈景配色
 *
 * @since   2004/02/12
 * @author  ShenTing Lin
 * @version $Id: wm.css,v 1.1 2010/02/24 02:40:44 saly Exp $
 * @copyright Wisdom Master 3(C)  Copyright(R)   SunNet Co. Taiwan, R.O.C
 **/

/* ------ 新的佈景 ------ */

/* ------ Scroll Bar 的配色 ------ */
body {
	scrollbar-arrow-color: #9C98BB;
	scrollbar-3dlight-color: #9C98BB;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-face-color: #EBEBEB;
	scrollbar-shadow-color: #9C98BB;
	scrollbar-track-color: #F0F0F0 ;
	scrollbar-darkshadow-color: #FFFFFF;
    background-color: #ececec;
}
/* ------ 停用選取 ------ */
.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* ------ Tabs 的標籤 ------ */
.cssTabs {
	line-height: 16px;
	font-size: 14px;
	font-weight: bolder;
	padding-bottom: 4px;
	text-decoration: none;
	letter-spacing: 0px;
	cursor: default;
	color: #ffffff;
	background-position: bottom;
	background-repeat: repeat-x;
	font-family: "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* ------ 左邊的工具列 ------ */
	/* ------ Frame 的背景色 ------ */
.cssTbBodyBg {
	color: #ececec;
	background-color: #07aeb0;
	overflow: hidden;
}
	/* ------ 用來修正在 IE5 上面呈現會出現有問題的畫面 ------ */
.cssTbBugIE5 {
	position: absolute;
	right: -1px;
	top: 30px;
	width: 7px;
	height: 100%;
	background-color: #07aeb0;
	clip: auto;
	overflow: auto;
	z-index: 40;
}
	/* ------ 工具列最上面的按鈕 ------ */
.cssTbBtn {
	padding: 6px 5px 0px 0px;
}
	/* ------ 工具列位置與背景色 ------ */
.cssToolbar {
	width: 188px;
	position: absolute;
	left: 6px;
	top: 30px;
	background-color: #07aeb0;
	clip: auto;
	overflow: auto;
	z-index: 30;
}
	/* ------ 工具列最上面的那一層 ------ */
.cssTbHead {
	font-size: 15px;
	line-height: 30px;
	height: 40px;
	text-decoration: none;
	letter-spacing: 1px;
	color: #000000;
	background-color: #FFFFFF;
	font-family: "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
	font-weight: bold;
}
	/* ------ 工具列的表格 ------ */
.cssTbTable {
	border: 0px solid #FFFFFF;
	background-color: #ececec;
}

.cssTbTr {
	border-style: none solid none solid;
	border-width: 0px 0px 0px 0px;
	border-color: #CCCCE6 #CCCCE6 #CCCCE6 #CCCCE6;
	padding: 3px 2px 2px 8px;
	color: #000000;
	background-color: #FFFFFF;
	cursor: default;
}
	/* ------ 工具列的預設樣式 ------ */
.cssTbTd {
	border-style: none solid none solid;
	border-width: 0px 0px 0px 0px;
	border-color: #07aeb0 #07aeb0 #07aeb0 #07aeb0;
	padding: 10px 10px 10px 10px;
	font-size: 15px;
	line-height: 24px;
	text-decoration: none;
	letter-spacing: 1px;
	color: #000000;
	background-color: #07aeb0;
	font-family: "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
	font-weight: bold;
}
	/* ------ 滑鼠在工具列上 ------ */
.cssTbFocus {
	cursor: default;
	font-size: 15px;
	line-height: 24px;
	height: 16px;
	text-decoration: none;
	letter-spacing: 1px;
	color: #07aeb0;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
	padding: 0px 3px 1px 3px;
	margin: 0px 2px 0px 2px;
	font-family: "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
	font-weight: bold;
}
	/* ------ 滑鼠離開工具列 ------ */
.cssTbBlur {
	cursor: default;
	font-size: 15px;
	line-height: 24px;
	height: 16px;
	text-decoration: none;
	letter-spacing: 1px;
	color: #ffffff;
	background-color: #07aeb0;
	border: 1px solid #07aeb0;
	padding: 0px 3px 1px 3px;
	margin: 0px 2px 0px 2px;
	font-family: "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}
/* ------ 表格 ------ */
.cssTable {
	background-color: #dddddd;
	border: 1px solid #1bcdd1;
}

.cssTr {
}

.cssTrHelp {
	font-size: 15px;
	line-height: 16px;
	text-decoration: none;
	letter-spacing: 0px;
	color: #ffffff;
	background-color: #c0c0c0;
	font-weight: bold;
	font-family: "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}

.cssTrHead {
	font-size: 15px;
	line-height: 30px;
	text-decoration: none;
	letter-spacing: 0px;
	color: #ffffff;
	background-color: #0db9bb;
	font-family: "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}

.cssTrEvn {
	font-size: 15px;
	line-height: 24px;
	text-decoration: none;
	letter-spacing: 0px;
	color: #000000;
	background-color: #FFFFFF;
	font-family: "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}

.cssTrOdd {
	font-size: 15px;
	line-height: 24px;
	text-decoration: none;
	letter-spacing: 0px;
	color: #000000;
	background-color: #f9f9f9;
	font-family: "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}

.cssTd {
}
/* ------ 表單元件 ------ */
.cssInput {
	font-size: 12px;
	color: #242424;
	background-color: #FFFFFF;
	border: 1px solid #dcdcdc;
	font-family: "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
	padding-left: 2px;
}

.cssBtn {
	font-size: 12px;
	height: 20px;
	color: #ffffff;
	background-color: #17cace;
	border: 1px solid #05aaac;
    font-family:"微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}

.cssBtn[disabled] {
	font-size: 12px;
	height: 20px;
	color: #C0C0C0;
	background-color: #f9f9f9;
	border: 1px solid #dcdcdc;
	font-family:"微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}
/* ------ 連結 ------ */
.cssAnchor {
	font-size: 15px;
	line-height: 20px;
	text-decoration: none;
	letter-spacing: 0px;
	color: #242424;
	font-family:"微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}

.cssAnchor:hover {
	font-size: 15px;
	line-height: 20px;
	text-decoration: underline;
	letter-spacing: 0px;
	color: #05a4a6;
	font-family: "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}

.cssAnchor:visited{
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0px;
	color: #05a4a6;
	font-family: "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}

.cssTrHead .cssAnchor {
	color:#fff;
	font-weight: bold;
}
.cssTrHead .cssAnchor:hover {
	color:#fff;
	font-weight: bold;
}
.cssTrHead .cssAnchor:visited {
	color:#fff;
	font-weight: bold;
}

/* ------ 課程群組的 Tree 需要使用 ------ */
.cssUL {
	list-style-type: none;
	padding-left: 0px;
	margin-left: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.cssOL {
	list-style-type: none;
	padding-left: 10px;
	margin-left: 10px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
/* ------ 其它字型設定 ------ */
	/* ------ 行事曆 (今天) ------ */
.cssCaleBg01 {
	background-color: #ececec;
}
	/* ------ 行事曆 (事件提醒) ------ */
.cssCaleBg02 {
	background-color: #F5CCF6;
}
	/* ------ 行事曆 (星期天) ------ */
.cssCaleFont01 {
	font-size: 12px;
	line-height: 16px;
	text-decoration: none;
	letter-spacing: 1px;
	color: #FF0000;
	font-family:  "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}
	/* ------ 行事曆 (星期六) ------ */
.cssCaleFont02 {
	font-size: 12px;
	line-height: 16px;
	text-decoration: none;
	letter-spacing: 1px;
	color: #00a930;
	font-family: "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}
	/* ------ 行事曆 (其它星期) ------ */
.cssCaleFont03 {
	font-size: 12px;
	line-height: 16px;
	text-decoration: none;
	letter-spacing: 1px;
	color: #c0c0c0;
	font-family:  "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}
	/* ------ 行事曆 (今天有事件) ------ */
.cssCaleFont04 {
	font-size: 12px;
	line-height: 16px;
	text-decoration: none;
	letter-spacing: 1px;
	color: #BC8AD7;
	background-color: #E2D19F;
	font-family: "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}
#tab_CalendarUser .cssTrEvn,
#tab_CalendarCourse .cssTrEvn,
#tab_CalendarSchool .cssTrEvn {
	font-size: 12px;
}
	/* ------ 我的課程 (登入的數字) ------ */
.cssFont01 {
	font-size: 12px;
	line-height: 16px;
	text-decoration: none;
	letter-spacing: 1px;
	color: #008F29;
	font-family: "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}
	/* ------ 我的課程 (標頭部份) ------ */
.cssMyHead {
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
	color: #ffffff;
	background-color: #0db9bb;
	font-family: "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}
	/* ------ 討論室 ------ */
.tabsOn {
	width: 98px;
	height: 25px;
	background-color: #525252;
	color: #FFFFFF;
	font-size: 12px;
	cursor: pointer;
}

.tabsOff {
	width: 98px;
	height: 25px;
	background-color: #AFAFAF;
	color: #FFFFFF;
	font-size: 12px;
	cursor: pointer;
}

.lstUserRoom {
	width: 195px;
	height: 215px;
	overflow: -moz-scrollbars-vertical;
	overflow-y: auto;
	overflow-x: hidden;
}

.cssLstUserRoom {
	background-color : #F9F9F9;
	width: 197px;
}

.cssChatUser {
	width: 197px;
	border: 1px solid #1BCDD1;
}

.cssChatRoom {
	width: 197px;
	border : 1px solid #05AAAC;
}

.cssChatUserHead {
	background-color : #0DB9BB;
}

.cssChatRoomHead {
	background-color : #0DB9BB;
}

.cssDefContent {
	background-color: #FFFFFF;
	color: #FFFFFF;
	font-size: 12px;
	text-decoration: none;
	letter-spacing: 2px;
}

.cssChatBG {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #0DB9BB;
	color: #000000;
}

.cssChatInOut {
	position: absolute;
	top: 6px;
	left: 10px;
	background-color: #FFFFFF;
	z-index: 5;
}

.cssChatCont {
	position: absolute;
	top: 66px;
	left: 10px;
	background-color: #FFFFFF;
	z-index: 10;
}

.cssChatLine {
	padding-top: 1px;
	padding-left: 24px;
	text-indent: -20px;
}

.cssChatFile {
	text-indent: 0px;
	padding-left: 3px;
	padding-right: 3px;
	margin-right: 3px;
	/* background-color: #F3F0E4; */
	border: 0px solid #C79E34;
}

.cssChatTools {
        position : absolute; 
        top : 456px; 
        left : 0px;
}

.cssChatToolsBg {
        background-color: #0DB9BB;
}

.cssConnerTL {
        background: url('/theme/default/learn_mooc/chat/conner_tl.gif') no-repeat;
        width:9; 
        height:9; 
        border:0; 
        overflow:hidden;
}

.cssConnerTR {
        background: url('/theme/default/learn_mooc/chat/conner_tr.gif') no-repeat;
        width:9; 
        height:9; 
        border:0; 
        overflow:hidden;
}
.cssConnerBL {
        background: url('/theme/default/learn_mooc/chat/conner_dl.gif') no-repeat;
        width:9; 
        height:9; 
        border:0; 
        overflow:hidden;
}

.cssConnerBR {
        background: url('/theme/default/learn_mooc/chat/conner_dr.gif') no-repeat;
        width:9; 
        height:9; 
        border:0; 
        overflow:hidden;
}

.cssFontB {
        background: url('/theme/default/learn_mooc/chat/icon_b0.gif') no-repeat;
        display:inline-block;
        zoom: 1;
        *display: inline;
        width:27px;
        height:27px; 
        border:0; 
        align:absmiddle;
}

.cssFontI {
        background: url('/theme/default/learn_mooc/chat/icon_i0.gif') no-repeat;
        display:inline-block;
        zoom: 1;
        *display: inline;
        width:27px;
        height:27px; 
        border:0; 
        align:absmiddle;
}

.cssFontU {
        background: url('/theme/default/learn_mooc/chat/icon_u0.gif') no-repeat;
        display:inline-block;
        zoom: 1;
        *display: inline;
        width:27px;
        height:27px; 
        border:0; 
        align:absmiddle;
}

.cssFile {
        background: url('/theme/default/learn_mooc/chat/icon_attach0.gif') no-repeat;
        display:inline-block;
        zoom: 1;
        *display: inline;
        width:27px;
        height:27px; 
        border:0; 
        align:absmiddle;        
}

.cssSet {
        background: url('/theme/default/learn_mooc/chat/icon_set0.gif') no-repeat;
        display:inline-block;
        zoom: 1;
        *display: inline;
        width:27px;
        height:27px; 
        border:0; 
        align:absmiddle;        
}

.cssHelp {
        background: url('/theme/default/learn_mooc/chat/icon_help0.gif') no-repeat;
        display:inline-block;
        zoom: 1;
        *display: inline;
        width:27px;
        height:27px; 
        border:0; 
        align:absmiddle;        
}


	/* ------ scorm 的圖片 ------ */

.divNote {
	margin:0 0 1px; 
	height: 19px;
	width:19px;
	background: url(/theme/default/learn_mooc/scorm_images/7.gif) no-repeat;
}
.divNote:hover {
	background: url(/theme/default/learn_mooc/scorm_images/7-1.gif) no-repeat;
}		

.divExpand {
	margin:0 0 1px; 
	height: 19px;
	width:19px;
	background: url(/theme/default/learn_mooc/scorm_images/2.gif) no-repeat;
}
.divExpand:hover {
	background: url(/theme/default/learn_mooc/scorm_images/2-1.gif) no-repeat;
}

.divPrev {
	margin:0 0 1px; 
	height: 19px;
	width:19px;
	background: url(/theme/default/learn_mooc/scorm_images/4.gif) no-repeat;
}
.divPrev:hover {
	background: url(/theme/default/learn_mooc/scorm_images/4-1.gif) no-repeat;
}

.divNext {
	margin:0 0 1px; 
	height: 19px;
	width:19px;
	background: url(/theme/default/learn_mooc/scorm_images/3.gif) no-repeat;
}
.divNext:hover {
	background: url(/theme/default/learn_mooc/scorm_images/3-1.gif) no-repeat;
}

.divMin {
	margin:0 0 1px; 
	height: 19px;
	width:19px;
	background: url(/theme/default/learn_mooc/scorm_images/5.gif) no-repeat;
}
.divMin:hover {
	background: url(/theme/default/learn_mooc/scorm_images/5-1.gif) no-repeat;
}

.divMax {
	margin:0 0 1px; 
	height: 19px;
	width:19px;
	background: url(/theme/default/learn_mooc/scorm_images/6.gif) no-repeat;
}
.divMax:hover {
	background: url(/theme/default/learn_mooc/scorm_images/6-1.gif) no-repeat;
}

.cke_inner .cke_top,.cke_inner .cke_contents,.cke_inner .cke_bottom{width:auto}
